SENDER_EMAIL=
EMAIL_PASSWORD=
COHERE_API_KEY=
SERPAPI_API_KEY=
VISION_API_KEY=
AWS_REGION=ap-south-1
S3_BUCKET=dossttpprojectbucket
EC2_AMI_ID=ami-09298640a92b2d12c
EC2_INSTANCE_TYPE=t2.micro
EXTERNAL_URL=http://3.109.103.64:10001/
